# Ignore everything
*

# Except...
!.gitignore

!/BepInEx/
!/BepInEx/plugins/
!BepInEx/plugins/*
!BepInEx/plugins/**/*

# !/EscapeFromTarkov_Data/
# !/EscapeFromTarkov_Data/Managed/
# !EscapeFromTarkov_Data/Managed/Assembly-CSharp.dll