# Ignore everything
*

# Except...
!.gitignore

!/BepInEx/

!/BepInEx/config/
!BepInEx/config/com.DanW.QuestingBots.cfg

!/BepInEx/plugins/
!BepInEx/plugins/*
!BepInEx/plugins/**/*
BepInEx/plugins/SAIN/Presets/5.\ Death\ Wish/GlobalSettings.json
